<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>

<div class="sidebar">
    <h2>EMS</h2>

    <a href="dashboard.html">Dashboard</a>
    <a href="Employees.html">Employees</a>
    <a href="Attendance.html">Attendance</a>
    <a href="Salary.html">Salary</a>
    <a href="Reports.html">Reports</a>
    <a href="History.html">History</a>
    <a href="login.html">Logout</a>
</div>

<div class="main-content">

    <h1>Employee Management Dashboard</h1>

    <div class="cards">

        <div class="card">
            <h2>50</h2>
            <p>Employees</p>
        </div>

        <div class="card">
            <h2>45</h2>
            <p>Present</p>
        </div>

        <div class="card">
            <h2>5</h2>
            <p>Absent</p>
        </div>

        <div class="card">
            <h2>₹50,000</h2>
            <p>Total Salary</p>
        </div>

    </div>

</div>

</body>
</html>