<!DOCTYPE html>
<html>
<head>
    <title>Employee Registration</title>
    <link rel="stylesheet" href="css/Employees.css">
</head>
<body>

<div class="container">
    <h1>Add Employee</h1>

    <form>
        <input type="text" placeholder="Employee ID" required>

        <input type="text" placeholder="Employee Name" required>

        <input type="text" placeholder="Department" required>

        <input type="text" placeholder="Designation" required>

        <input type="number" placeholder="Salary" required>

        <button type="submit">Save Employee</button>
    </form>
</div>

</body>
</html>