<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div class="login-container">
            <img src="image.png"
               width="80"
               style="display: block;margin: auto;">
            <h1>AI Attendance And Salary Management System</h1>
            <form>
                <input type="text" placeholder="Enter Username">
                <input type="password" placeholder="Enter Password">
                <button type="button"
                onclick="window.location='dashboard.html'">
                    Login
                </button>
            </form>
        </div>
    </body>
</html>